//transitions

$transition: 1s ease;
$transition-400: 0.4s ease;

//colors

$color-bg: #F5F5F5;
$color-accent: #2D728F;
$color-text: #333333;
$color-highlight: #3B8EA5;

//breakpoints max

$breakpoints-max: (
  xs: 767,
  sm: 1023,
  md: 1279,
  bg: 1279,
  lg: 1919
);

//breakpoints min

$breakpoints-min: (
  xxs: 320,
  xs: 768,
  sm: 1024,
  md: 1280,
  bg: 1280,
  lg: 1920
);

//offsets

$offsets: (
  red: (
    md: 80px, // < 1920
    xs: 48px, // < 768
  ),
  coral: (
    md: 64px,
    xs: 58px,
  ),
  yellow: (
    md: 48px,
    xs: 32px,
  ),
  green: (
    md: 32px,
    xs: 16px,
  ),
  aqua: (
    md: 24px,
    xs: 24px,
  ),
  blue: (
    md: 16px,
    xs: 16px,
  ),
  purple: (
    md: 8px,
    xs: 8px,
  ),
);
