@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&family=Open+Sans&display=swap');
// font-family: 'Lato';
// font-family: 'Montserrat';
// font-family: 'Open Sans';




h1, .h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: $color-text;
  @include max(xs) {
    font-size: 25px;
    line-height: 30px;
  }
}

h2, .h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: $color-text;
}

p, .p1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $color-text;
  @include max(xs) {
    font-size: 14px;
  }
}

.p2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-text;
}